# Formspree Configuration
# Get your form ID from https://formspree.io/
NEXT_PUBLIC_FORMSPREE_ID=xnnevjdg

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://tu-dominio.com
NEXT_PUBLIC_WHATSAPP_NUMBER=+541122692061
